.posts {
  margin-top:2rem;

  > a {
      display: block;
  }

  a + a {
      margin-top: 3rem;
  }

  button {
      color: var(--hightlight);
      font-size: 1.125rem;
      font-weight: 600;
      background: none;
      border: none;
      margin-top: 4rem;
  }
}

.post {
    strong {
        font-weight: bold;
        font-size: 1.75rem;
        color: var(--heading)
    }

    p {
        margin-top: 0.5rem;
        font-size: 1.125rem;
    }

    ul {
        list-style: none;
        margin-top: 1.5rem;
        display: flex;

        & li {
            font-size: 0.875rem;

            & svg {
                margin-right: 0.5rem;
            }

            & + li {
                margin-left: 1.625rem;
            }

        }

       
    }
    
}
