.article {

    hr {
        border: 1px solid var(--body);
        opacity: 0.1;
    }
    
    ul {
        display: block;
        list-style: none;
        margin-top:1.5rem;
        
        > li {
            display: inline;
            font-size:0.875rem;
        }

        li + li {
            margin-left:1.5rem;
        }

        & svg {
            margin-right: 0.5rem;
        }
    }

    .content {
        display: block;
        margin-top:4rem;

        a {
            color: var(--hightlight);
        }

        p, span, a, ul {
            font-size:1.125rem;
            line-height:1.8;
            margin: 1.8rem 0;
        }
    }
    
}

.lastEdited {
    display:block;
    margin-top:1rem;
    color:var(--info);
    font-weight:400;
    font-style:italic;
}


.title {
    font-weight: 700;
    font-size:3rem;
    display: flex;
    color: var(--heading)
}

.banner {
    height:25rem;
    width:100%;
    object-fit: cover;
}

.footer {
    display:flex;
    justify-content:space-between;
    padding-top:3rem;
    margin-bottom:5rem;

    p {
        font-size:1.125rem;
    }

    .nextPostStyle {
        text-align:right;
    }

    a {
        display:block;
        color:var(--hightlight);
        font-size:1rem;
        margin-top:0.5rem;
    }
}

